.logo {
  text-align: center;
  font-weight: 700;
  font-size: 2.1rem;
  color: #c1c1c1;
  font-family: THEGaeideuk;
  margin: 8.1055vh 0;

  @media (max-width: 768px) {
    margin: 5.9859vh 0;
    font-size: 1.4rem;
  }
}
